<body>
	



<input type="checkbox" id="menu" />
<label for="menu" class="menu">
	<span></span>
	<span></span>
	<span></span>
</label>

<nav class="nav">
	<ul>
		<li><a [routerLink]="['/home']">Inicio</a></li>
		<li><a [routerLink]="['/isesion']">Iniciar sesi&oacute;n</a></li>
		
		
	</ul>
</nav>


<main>
	<header>
		
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</header>

	<section class="contact-page-sec">
		<div class="container">
		  <div class="row">
			<div class="col-md-4">
			  <div class="contact-info">
				<div class="contact-info-item">
				  <div class="contact-info-icon">
					<i class="fas fa-map-marked"></i>
				  </div>
				  <div class="contact-info-text">
					<h2>Direcci&oacute;n</h2>
					<span>P.º del Alhelí 61, Hacienda Ojo de Agua, 55770 Ojo de Agua, Méx. </span>
					<span>Edo. de Méx, México</span>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="contact-info">
				<div class="contact-info-item">
				  <div class="contact-info-icon">
					<i class="fas fa-envelope"></i>
				  </div>
				  <div class="contact-info-text">
					<h2>Correo electronico</h2>
					<span></span>
					<span>lototres@gmail.com</span>
					<span></span>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="contact-info">
				<div class="contact-info-item">
				  <div class="contact-info-icon">
					<i class="fas fa-clock"></i>
				  </div>
				  <div class="contact-info-text">
					<h2>Horario de atenci&oacute;n</h2>
					<span></span>
					<span>Lun - Vie 9:00 am - 5:00 pm</span>
					<span></span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-8">
			  <div class="contact-page-form" method="post">
				<h2>Ponte en contacto</h2>
				<form action="contact-mail.php" method="post">
				  <div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
					  <div class="single-input-field">
						<input type="text" placeholder="Tu nombre" name="name" />
					  </div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
					  <div class="single-input-field">
						<input type="email" placeholder="Correo electronico" name="correo" required />
					  </div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
					  <div class="single-input-field">
						<input type="text" placeholder="Numero telefonico" name="numero" />
					  </div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
					  <div class="single-input-field">
						<input type="text" placeholder="Asunto" name="asunto" />
					  </div>
					</div>
					<div class="col-md-12 message-input">
					  <div class="single-input-field">
						<textarea placeholder="Escribe tu mensaje" name="mensaje"></textarea>
					  </div>
					</div>
					<div class="single-input-fieldsbtn">
					  <input type="submit" value="Enviar ahora" />
					</div>
				  </div>
				</form>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="contact-page-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.928090640401!2d-99.02363498582143!3d19.673073038046518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f27daa28cfe1%3A0x2e7c5b31655a0fd!2sP.%C2%BA%20del%20Alhel%C3%AD%2061%2C%20Hacienda%20Ojo%20de%20Agua%2C%2055770%20Ojo%20de%20Agua%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1668646571575!5m2!1ses-419!2smx" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			  </div>
			</div>
		  </div>
		</div>
	  </section>

	<div class="img">
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</div>
	
	<footer>
		<div class="logo">
			<i class="fa fa-picture-o" aria-hidden="true"></i>
		</div>
		<ul>
			<li><a [routerLink]="['/home']">Inicio</a></li>
			<li><a [routerLink]="['/actividades']">Actividades</a></li>
			<li><a [routerLink]="['/donaciones']">Donativos</a></li>
			<li><a [routerLink]="['/contacto']">Contacto</a></li>
			<li><a [routerLink]="['/campaña']">Campaña</a></li>
		</ul>
		<div class="secondary-links">
			

			

			<a href="https://www.facebook.com/fundacionlototresac" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
			
			<a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw" target="_blank"><img loading="lazy" alt="Sígueme en YouTube" height="35" width="35" src=" https://1.bp.blogspot.com/-0Ao8V_ZtT5Q/YPhkfO0JqkI/AAAAAAAAA1U/Sz5GlaSW78AsY3nZpcqeIoPA_HQUSCVLgCPcBGAYYCw/s0/Youtube-icono.png" title=" Sígueme en YouTube "/></a>
			
			<a href="https://www.instagram.com/fundacionlototresac/" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>

			<a href="https://twitter.com/LotoTres" target="_blank"><img loading="lazy" alt=" Sígueme en Twitter" height="35" width="35" src=" https://1.bp.blogspot.com/-2JwTJZxg1AU/YPhkfB0DdjI/AAAAAAAAA1c/tDKdU6tS0A0lt4YegGUVd7k-9hguYz82ACPcBGAYYCw/s0/Twitter-icono.png" title="Sígueme en Twitter"/></a>

		
	</div>
	</footer>
</main>


</body>