<input type="checkbox" id="menu" />
<label for="menu" class="menu">
	<span></span>
	<span></span>
	<span></span>
</label>

<nav class="nav">
	<ul>
		<li><a [routerLink]="['/admin']">Panel de control</a></li>
		<li><a [routerLink]="['/gactividad']">Actividades</a></li>
        <li><a [routerLink]="['/geventos']">Eventos</a></li>
		<li><a [routerLink]="['/galumnos']">Alumnos</a></li>
		<li><a [routerLink]="['/home']">Cerrar sesion</a></li>
	</ul>
</nav>

<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

<div class="app-container">
  
  
  
  <div class="app-view">
    
    <nav class="utility-bar">
      <div class="utility-bar__inner">
        <ul class="utility-bar__list">
          <li class="utility-bar__list-item">
            
          </li>
          <li class="utility-bar__list-item">
            
          </li>
        </ul>
        
      </div>
    </nav>
   
    <main class="content">
      <h1>Donadores</h1>
      <p>Gestionar las donaciones que se han recibido. <a [routerLink]="['/creardon']">Agregar una nueva donaci&oacute;n.</a></p> <app-pdf></app-pdf>
      <table>
        <thead>
          <tr>
            <th>Tipo de donacion</th>
            <th>Fecha de Regitro </th>
            <th>Stock</th>
            <th>Fecha Actual</th>
            <th>Validado</th>
            <th>Status</th>
             
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donacion of donaciones">
            <td >{{donacion.tipo_donacion}}</td>
            <td >{{donacion.fecha_registro}}</td>
            <td >{{donacion.stock}}</td>
            <td >{{donacion.fecha_act}}</td>
            <td >{{donacion.validado}}</td>
            <td >{{donacion.status}}</td>
          
          </tr>
        </tbody>
      </table>
    </main>
    
  </div>
  
  
</div>

