<app-menu></app-menu>

<br>
<br>
<br>

<form class="cbp-mc-form">
    <div class="cbp-mc-column">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombres" name="nombre" placeholder="Ingresa tu nombre">
    <label for="apellido">Apellido Paterno</label>
    <input type="text" id="apellidopat" name="nombre" placeholder="Ingresa tu apellido">
   
    <label for="apellido">Apellido Materno</label>
    <input type="text" id="apellidomat" name="nombre" placeholder="Ingresa tu apellido">
   
    <label for="edad">Edad</label>
    <input type="number" id="edad" name="edad" placeholder="Ingresa tu edad">

    <label for="date">dd/mm/aaaa</label>
    <input type="date" id="fecha_nac" name="fecha_nac" placeholder="Fecha de nacimiento">

    
   
    </div>
    <div class="cbp-mc-column">
    <label for="email">Correo electronico</label>
    <input type="text" id="correo" name="correo" placeholder="ejemplo@ejemplo.com">

    <label for="contrasena">Contrase&ntilde;a</label>
    <input type="password" id="contra" name="contra" placeholder="Ingresa tu contrase&ntilde;a">

    <label for="contrasena">Contrase&ntilde;a</label>
    <input type="password" id="contra" name="contra" placeholder="Confirma tu contrase&ntilde;a">

    <label for="phone">Numero de celular</label>
    <input type="text" id="phone" name="phone" placeholder="+55 5555 5555">

    
    
    
    </div>
    <div class="cbp-mc-column">
    <label for="direccion">Direccion</label>
    <input type="text" id="direccion" name="direccion" placeholder="Ingresa tu direccion">

    <label for="phone">Numero particular</label>
    <input type="text" id="phone" name="phone" placeholder="+596 55 5555">


    <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" 
        value="Registrarse" /></div>
    </div>

    
    </form>

<app-footer></app-footer>


