
 <!--Google Font-->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"><input type="checkbox" id="menu" />



 <input type="checkbox" id="menu" />
 <label for="menu" class="menu">
     <span></span>
     <span></span>
     <span></span>
 </label>

 <nav class="nav">
     <ul>
         <li><a [routerLink]="['/admin']">Panel de control</a></li>
         <li><a [routerLink]="['/gactividad']">Actividades</a></li>
         <li><a [routerLink]="['/geventos']">Eventos</a></li>
         <li><a [routerLink]="['/galumnos']">Usuarios</a></li>
         <li><a [routerLink]="['/home']">Cerrar sesion</a></li>
     </ul>
 </nav>


<main>
	<header>
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</header>
	<section>

<div id='container'>
	<div class='whysign'>
    <h1>Agregar nueva donacion</h1>

  </div>
  <div class='signup'>

     <form>
       <input type='text' class="form-control" placeholder='Tipo de donacion: ' required="requiered" name="tipo_donacion" id="tipo_donacion" [(ngModel)]="donacion.tipo_donacion"  />
       <input type='date' class="form-control" placeholder='Fecha de registro: ' required="requiered" name="fecha_registro" id="fecha_registro" [(ngModel)]="donacion.fecha_registro" />



        </form>

  </div>

  <div class="lado">
	<form >
        <input type='number' class="form-control" placeholder='Stock: ' required="requiered" name="stock" id="stock" [(ngModel)]="donacion.stock"  />
        <input type='date' class="form-control" placeholder='Fecha actual: ' required="requiered" name="fecha_act" id="fecha_act" [(ngModel)]="donacion.fecha_act" />
        <input type='boolean' class="form-control" placeholder='Validado: ' required="requiered" name="validado" id="validado" [(ngModel)]="donacion.validado" />
        <input type='number' class="form-control" placeholder='Status: ' required="requiered" name="status" id="status" [(ngModel)]="donacion.status" />
        <input type='text' value="0" class="form-control" placeholder='Escriba el nombre de un Usuario: ' />
        <select class="form-control" required="required"  name="usuarioo" id="usuarioo" [(ngModel)]="data">
          <option  class="obscuro">Seleccione un Usuario</option>
          <option class="obscuro" *ngFor="let usuarioo of usuarioos" [value]="usuarioo.id_usuario">{{usuarioo.nombre}}</option>
        </select>




	<input type='submit' placeholder='Actualizar' (click)="nuevo()" />
</form>
  </div>

</div>

	</section>
	<div class="img">
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</div>


</main>


