

<input type="checkbox" id="menu" />
<label for="menu" class="menu">
	<span></span>
	<span></span>
	<span></span>
</label>

<nav class="nav">
	<ul>
		<li><a [routerLink]="['/home']">Inicio</a></li>
		<li><a [routerLink]="['/isesion']">Iniciar sesi&oacute;n</a></li>
		
		
	</ul>
</nav>


<main>
	<header>
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</header>

	<body>
    

		<section class="slider">
			<input id="membershipSlide" type="radio" name="pagination" checked="true"/>
			<input id="billingSlide" type="radio" name="pagination"/>
			<input id="storefrontSlide" type="radio" name="pagination"/>
			<div class="slider__backgrounds slider__backgrounds__bottom slider__backgrounds__bottom--membership"></div>
			<div class="slider__backgrounds slider__backgrounds__bottom slider__backgrounds__bottom--billing"></div>
			<div class="slider__backgrounds slider__backgrounds__bottom slider__backgrounds__bottom--storefront"></div>
			<div class="slider__backgrounds slider__backgrounds__top slider__backgrounds__top--membership"></div>
			<div class="slider__backgrounds slider__backgrounds__top slider__backgrounds__top--billing"></div>
			<div class="slider__backgrounds slider__backgrounds__top slider__backgrounds__top--storefront"></div>
			<div class="slider__slides">
			  <div class="slider__slides__slide">
				<h3 class="slider__slides__slide__title slider__slides__slide__title--membership">Objetivos de la Fundacion Loto Tres</h3>
				<h4 class="slider__slides__slide__sub-title slider__slides__slide__sub-title--membership"></h4>
				<p class="slider__slides__slide__text slider__slides__slide__text--membership">Constituir un espacio  de analisis, reflexion, pensamiento, participacion y estudio en materia social</p><a class="slider__slides__slide__link slider__slides__slide__link--membership" ></a>
			  </div>
			  <div class="slider__slides__slide">
				<h3 class="slider__slides__slide__title slider__slides__slide__title--billing">Objetivos de la Fundacion Loto Tres</h3>
				<h4 class="slider__slides__slide__sub-title slider__slides__slide__sub-title--billing"></h4>
				<p class="slider__slides__slide__text slider__slides__slide__text--billing">Elevar la calidad de vida de los grupos vulnerables en el municipio de Tecamac</p><a class="slider__slides__slide__link slider__slides__slide__link--billing" ></a>
			  </div>
			  <div class="slider__slides__slide">
				<h3 class="slider__slides__slide__title slider__slides__slide__title--storefront">Objetivos de la Fundacion Loto Tres</h3>
				<h4 class="slider__slides__slide__sub-title slider__slides__slide__sub-title--storefront"></h4>
				<p class="slider__slides__slide__text slider__slides__slide__text--storefront">Construir una red con otras instituciones para la asistencia y desarrollo de nuestros objetivos</p><a class="slider__slides__slide__link" ></a>
			  </div>
			</div>
			<div class="slider__pagination">
			  <label class="slider__pagination__section slider__pagination__section--membership" id="membershipSection" for="membershipSlide">Membership</label>
			  <label class="slider__pagination__section slider__pagination__section--billing" id="billingSection" for="billingSlide">Billing</label>
			  <label class="slider__pagination__section slider__pagination__section--storefront" id="storefrontSection" for="storefrontSlide">Storefront</label>
			</div>
		  </section>
		
		  
		</body>
		<br>

		

    <section></section>
	
    <section>
        <app-slider></app-slider>
    </section>
    
	<app-menu></app-menu>
	<h1 class="testimoniales" [align]="['center']">Testimoniales</h1>

	<button class="btn btn-primary" type="button" (click)="generatePdf()">Generar Reporte PDF</button>
	<section>
		<app-tarjetas></app-tarjetas>  
    </section>
		
	

	<footer>
		<div class="logo">
			<i class="fa fa-picture-o" aria-hidden="true"></i>
		</div>
		<ul>
			<li><a [routerLink]="['/home']">Inicio</a></li>
			<li><a [routerLink]="['/actividades']">Actividades</a></li>
			<li><a [routerLink]="['/donaciones']">Donativos</a></li>
			<li><a [routerLink]="['/contacto']">Contacto</a></li>
			<li><a [routerLink]="['/campaña']">Campaña</a></li>
			</ul>

		<div class="secondary-links">
			

			

				<a href="https://www.facebook.com/fundacionlototresac" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
				
				<a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw" target="_blank"><img loading="lazy" alt="Sígueme en YouTube" height="35" width="35" src=" https://1.bp.blogspot.com/-0Ao8V_ZtT5Q/YPhkfO0JqkI/AAAAAAAAA1U/Sz5GlaSW78AsY3nZpcqeIoPA_HQUSCVLgCPcBGAYYCw/s0/Youtube-icono.png" title=" Sígueme en YouTube "/></a>
				
				<a href="https://www.instagram.com/fundacionlototresac/" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>

				<a href="https://twitter.com/LotoTres" target="_blank"><img loading="lazy" alt=" Sígueme en Twitter" height="35" width="35" src=" https://1.bp.blogspot.com/-2JwTJZxg1AU/YPhkfB0DdjI/AAAAAAAAA1c/tDKdU6tS0A0lt4YegGUVd7k-9hguYz82ACPcBGAYYCw/s0/Twitter-icono.png" title="Sígueme en Twitter"/></a>

			
		</div>
	</footer>
</main>