
 <!--Google Font-->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"><input type="checkbox" id="menu" />



 <input type="checkbox" id="menu" />
 <label for="menu" class="menu">
     <span></span>
     <span></span>
     <span></span>
 </label>
 
 <nav class="nav">
     <ul>
         <li><a [routerLink]="['/admin']">Panel de control</a></li>
         <li><a [routerLink]="['/gactividad']">Actividades</a></li>
         <li><a [routerLink]="['/geventos']">Eventos</a></li>
         <li><a [routerLink]="['/galumnos']">Usuarios</a></li>
         <li><a [routerLink]="['/home']">Cerrar sesion</a></li>
     </ul>
 </nav>


<main>
	<header>
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</header>
	<section>
		
<div id='container'>
	<div class='whysign'>
    <h1>Agregar nuevo evento</h1>
     
  </div>
  <div class='signup'>
	
     <form>
       <input type='text' class="form-control"placeholder='Descripcion: '  required="requiered" name="descripcion" id="descripcion" [(ngModel)]="evento.descripcion"/>
       <input type='date' class="form-control"placeholder='Fecha: ' required="requiered" name="fecha" id="fecha" [(ngModel)]="evento.fecha" />
       <input type='text' class="form-control" placeholder='Ubicacion: ' required="requiered" name="ubicacion" id="ubicacion" [(ngModel)]="evento.ubicacion"  />
      
        </form>

  </div>
  
  <div class="lado">
	<form >
        <input type='text' class="form-control" placeholder='Url: ' required="requiered" name="url" id="url" [(ngModel)]="evento.url"  />
        <input type='text' class="form-control" placeholder='Imagen: ' required="requiered" name="imagen" id="imagen" [(ngModel)]="evento.imagen" />
	      <input type='text' class="form-control" placeholder='Instrucciones: ' required="requiered" name="instrucciones" id="instrucciones" [(ngModel)]="evento.instrucciones" />
        <input type='text' class="form-control" placeholder='Ingresa tu id : ' required="requiered" name="id_usuario" id="id_usuario"[(ngModel)]="evento.id_usuario" />

	
	<input type='submit' placeholder='Actualizar' (click)="guardar()" />
</form>
  </div>
  
</div>

	</section>
	<div class="img">
		<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
	</div>
	
	
</main>


