

<br>
<br>
<br>
<main>
  <span><p>Horarios de la actividad</p></span>
</main>
<br>
<div class="table-wrapper">
    <table class="fl-table">
    <caption>Horario de: Defensa Personal Infantil</caption>
    <thead>
      <tr>
        
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        
        <td></td>
        <td>Defensa Personal Infantil
            (4:30pm-6:30pm)
        </td>
        <td>Defensa Personal Infantil
            (4:30pm-6:30pm)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        
        <td></td>
        <td></td>
        <td>
        </td>
        <td></td>
        <td></td>
      </tr>
      
      
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<main>
    <footer>
      <div class="logo">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </div>
      <ul>
        <li><a [routerLink]="['/home']">Inicio</a></li>
        <li><a [routerLink]="['/actividades']">Actividades</a></li>
        <li><a [routerLink]="['/donaciones']">Donativos</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
        <li><a [routerLink]="['/campaña']">Campaña</a></li>
      </ul>
      <div class="secondary-links">
        
  
        
  
        <a href="https://www.facebook.com/fundacionlototresac" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
        
        <a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw" target="_blank"><img loading="lazy" alt="Sígueme en YouTube" height="35" width="35" src=" https://1.bp.blogspot.com/-0Ao8V_ZtT5Q/YPhkfO0JqkI/AAAAAAAAA1U/Sz5GlaSW78AsY3nZpcqeIoPA_HQUSCVLgCPcBGAYYCw/s0/Youtube-icono.png" title=" Sígueme en YouTube "/></a>
        
        <a href="https://www.instagram.com/fundacionlototresac/" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>
  
        <a href="https://twitter.com/LotoTres" target="_blank"><img loading="lazy" alt=" Sígueme en Twitter" height="35" width="35" src=" https://1.bp.blogspot.com/-2JwTJZxg1AU/YPhkfB0DdjI/AAAAAAAAA1c/tDKdU6tS0A0lt4YegGUVd7k-9hguYz82ACPcBGAYYCw/s0/Twitter-icono.png" title="Sígueme en Twitter"/></a>
  
      
    </div>
    </footer>
  </main>