<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                    <iframe width="250" height="200" src="https://www.youtube.com/embed/8CQwYQstdiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="text-container">
                  <h6>Se tú la diferencia.</h6>
                  <p>"Las grandes oportunidades para ayudar a los demás raras veces vienen pero las pequeñas todos los días nos rodean" Sally Koch.
                    ⠀⠀⠀⠀⠀⠀⠀⠀
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                    <iframe width="250" height="200" src="https://www.youtube.com/embed/q6wCPD7Ughk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="text-container">
                  <h6>Apoya nuestra campaña.</h6>
                  <p>"Un hombre sólo tiene derecho a mirar a otro hacia abajo, cuando ha de ayudarle a levantarse" Gabriel García Márquez.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                    <iframe width="250" height="200" src="https://www.youtube.com/embed/0F30ICsrJTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
  
                <div class="text-container">
                  <h6>Fundación Loto Tres A.C. Dia mundial Vs. Cáncer</h6>
                  <p>Apoyamos 70 pacientes oncológicos este día mundial del Cáncer en el Hospital regional 2OO en Tecámac. </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                    <iframe width="250" height="200" src="https://www.youtube.com/embed/NRRvnzK2nRE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="text-container">
                  <h6>El mundo necesita empatía</h6>
                  <p>Aunque el mundo esta de cabeza, siempre podemos hacer algo por las personas mas vulnerables. Existen muchas formas de ayudar.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>