<!DOCTYPE html>
<html lang="en">

<head>
    <meta chatset="UTF-8">
</head>
<nav>
    
  <ul>
    <li><a href="#">Iniciar sesion</a></li>
    <li><a href="#">Registrarse</a></li>
    <li><a href="#">Donativos</a></li>
    <li><a href="#">Inicio</a></li>
    </ul>
</nav>

<body background="../img/taichi.jpg" >
    <form action="#" method="POST">

        <div id="login-box">
            <h1>Iniciar sesión</h1> 

            <div class="form">
                <div class="item"> 
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <input type="text" placeholder="Correo electronico" name="Correo"> 
                </div>

                <div class="item"> 
                  <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" placeholder="Contraseña" name="password"> 
                </div>
            </div>
            
            <button type="submit">Entrar</button> <! - Botón de inicio de sesión ->
        </div>
    
    </form>
</body>

</html>
