<input type="checkbox" id="menu" />
<label for="menu" class="menu">
	<span></span>
	<span></span>
	<span></span>
</label>

<nav class="nav">
	<ul>
		<li><a [routerLink]="['/admin']">Panel de control</a></li>
		<li><a [routerLink]="['/gactividad']">Actividades</a></li>
        <li><a [routerLink]="['/geventos']">Eventos</a></li>
		<li><a [routerLink]="['/galumnos']">Alumnos</a></li>
		<li><a [routerLink]="['/home']">Cerrar sesion</a></li>
	</ul>
</nav>

<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

<div class="app-container">
  
  
  
  <div class="app-view">
    
    <nav class="utility-bar">
      <div class="utility-bar__inner">
        <ul class="utility-bar__list">
          <li class="utility-bar__list-item">
            
          </li>
          <li class="utility-bar__list-item">
            
          </li>
        </ul>
        
      </div>
    </nav>
    
    <main class="content">
      <h1>Actividades</h1>
      <p>Gestiona las actividades, edita una actividad, elimina o <a [routerLink]="['/crearact']">crea una nueva.</a></p> 
      <table>
        <thead>
          <tr>
            <th>ID_ACTIVIDAD</th>
            <th>Nombre de la actividad  </th>
            <th>Horario </th>
            <th>Cupo</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let actividad of actividades"  >
            <td>{{actividad.id_actividad}}</td>
            <td >{{actividad.nombre}}</td>
            <td >{{actividad.horario}}</td>
            <td >{{actividad.cupo}}</td>

            
            <a class="btn btn-danger" (click)="delete(actividad.id_actividad)">Eliminar</a>
            



          </tr>
        </tbody>
      </table>
    </main>
    
  </div>
  
</div>