
<app-menu></app-menu>

<head>
  <script src="https://kit.fontawesome.com/abc896a6c9.js" crossorigin="anonymous"></script>
</head>

<body>

  

    <form action="#" method="POST">
 
        <div id="login-box">
        <h1>Iniciar sesión</h1>

        <div class="form">
            <div class="item">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <input type="email" placeholder="Correo electronico" pattern="[a-z]*"  name="Correo">
        </div>

      <div class="item">
        <i class="fa fa-key" aria-hidden="true"></i>
        <input type="password" placeholder="Contraseña" name="password">
      </div>
    </div>

    <button type="submit">Entrar</button> <! - Botón de inicio de sesión ->
  </div>

</form>

<app-footer></app-footer>


</body>

