*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    box-shadow: 0 4px 25px -22px;
}