<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive 3D Cards</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="card">
          <div class="front">
            <div class="content">
              <img src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.6435-9/35652297_2555336257854060_4192593451964956672_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=Np3u3u-ZlEMAX_FcwIn&_nc_ht=scontent.fmex16-1.fna&oh=00_AfCZLEceFnVzivOvl3ajf3eqtrF2ijsNYDjfK-g0xyggEg&oe=6390E113" />
              
            </div>
          </div>
          <div class="back">
            <div class="content">
              <p [align]="['justify']">
                Estamos comprometidos con la construcci&oacute;n de un
                modelo social, cultural y economico justo, el cual garantiza
                a todos los miembros de grupos vulnerables, la igualdad de 
                oportunidades y derechos.  
            </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card">
          <div class="front">
            <div class="content">
                
              <img src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.6435-9/35549811_2555337231187296_9016204839088029696_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=mXY9r83mwT0AX9sQXiD&tn=DsdKLeEA5sLU-sax&_nc_ht=scontent.fmex16-1.fna&oh=00_AfCDzeVHTBCl5OyxI0SStaeuvlgPErDN9inL9fdWRsFUDg&oe=6390F1B0" />
             
            </div>
          </div>
          <div class="back">
            <div class="content">
              <p [align]="['justify']">
                Fundaci&oacute;n Club Adulto Mayor Loto Tres es una asociaci&oacute;n civil, dedicada a las actividades
                culturales y recrativas para fomentar una vida sana y positiva con el fin
                de garantizarcon ellas la obteci&oacute;n de resultados de acuerdo a los
                objetivos establecidos.   </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card">
          <div class="front">
            <div class="content">
              <img src="https://scontent.fmex16-1.fna.fbcdn.net/v/t1.6435-9/35654414_2555336401187379_1286369836460408832_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=Bwqi-r9NZPgAX8ZXiu3&tn=DsdKLeEA5sLU-sax&_nc_ht=scontent.fmex16-1.fna&oh=00_AfDYx7JTifzoRbCuuimVFDS8nOacxgKgCJCicNEt_-jAfg&oe=6390F512" />
              
            </div>
          </div>
          <div class="back">
            <div class="content">
              <p [align]="['justify']">
                Conformamos un espacio con actividades encaminadas
                a la formaci&oacute;n en valores y conocimientos 
                mediante el cual buscamos incorporar a los ciudadanos
                a nuestra fundaci&oacute;n y a una vida social activa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>