

<header>
    <div class="header-content">
  
      

    <div class="logo">
      <h1>Fundacion Loto<b>Tres</b></h1>
    </div>


    <div class="menu">
      <nav>
          <ul>
            <li><a [routerLink]="['/home']">Inicio</a></li>         
            <li><a [routerLink]="['/isesion']">Iniciar sesion</a></li>
            <li><a [routerLink]="['/registro']">Registrarse</a></li>
            <li><a [routerLink]="['/donaciones']">Donativos</a></li>
            <li class="menu-selected"><a [routerLink]="['/contacto']" class="text-menu-selected">Contacto</a></li>
         </ul>
    </nav>
    
    </div>
  
  
</div>
</header>

