/*FOOTER*/

.container-footer{
    width: 100%;
    padding: 10px 0px;
    background: #3B4094;
    margin-top: 100px;
    background-image: url(https://img.freepik.com/premium-photo/contact-us-hand-man-holding-mobile-smartphone-with-mail-phone-email-chat-icon-cutomer-support-concept-blue-wide-banner_256259-2764.jpg?w=2000);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.container-footer footer .redes-footer .fa-facebook:hover{
    background: #41579a;
    color: #fff;
}

.container-footer footer .redes-footer .fa-twitter:hover{
    background: #35b4ca;
    color: #fff;
}

.container-footer footer .redes-footer .fa-youtube:hover{
    background: red;
    color: #fff;
}

.container-footer footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, 
    #E9712A, #D2313B, #AE419B, #7548A2, #5443AB);
    color: #fff;
}

.container-footer footer hr{
    margin-top: 30px;
    border: none;
    height: 2px;
    background: #000000;
}

.container-footer h4{
    text-align: center;
    margin-top: 20px;
    color: #1a1919;
    font-weight: 500;
}