<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Footer</title>
    
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <footer>
      <div class="row primary">
        <div class="column about">
          <h3>Fundacion Loto Tres</h3>
          <p>
            Somos una organización sin fines de lucro cuyo objetivo más importante es expandir nuestra causa en favor de los que menos tienen. Buscando apoyar, capacitar y proporcionar recursos de alta calidad a nuestra comunidad en un entorno seguro.  </p>
        </div>
        <div class="column links">
          <h3>Enlaces</h3>
          <ul>
            <li><a [routerLink]="['/home']">Inicio</a></li>
			<li><a [routerLink]="['/actividades']">Actividades</a></li>
			<li><a [routerLink]="['/donaciones']">Donativos</a></li>
			<li><a [routerLink]="['/contacto']">Contacto</a></li>

          </ul>
        </div>
        <div class="column subscribe">
          <h3>Suscribete para mas informacion</h3>
          <div>
            <input type="email" placeholder="Correo electronico" />
            <button>Subscribete</button>
          </div>
          
        </div>
      </div>

      
      <div class="row copyright">
        <p>Copyright &copy; 2022 | Todos Los Derechos Reservados</p>
      </div>
    </footer>
  </body>
</html>