 <head>
    <script src="https://kit.fontawesome.com/abc896a6c9.js" crossorigin="anonymous"></script>

 </head>
 

<div class="container-footer">
    <hr>
        <h4>Siguenos en nuestras redes</h4>
    <footer>
        <div class="logo-footer">
            <img src="" alt="">
        </div>
        <div class="redes-footer">
            <a href="#"><i class="fa-brands fa-facebook icon-redes-footer"></i></a>
            <a href="#"><i class="fa-brands fa-twitter icon-redes-footer"></i></a>
            <a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw"><i class="fa-brands fa-youtube icon-redes-footer"></i></a>
            <a href="#"><i class="fa-brands fa-instagram icon-redes-footer"></i></a>
        </div>

        <h4>Todos los Derechos Reservados 2022 </h4>
    </footer>
</div>