<app-menu></app-menu>

<head>
    <script src="https://kit.fontawesome.com/abc896a6c9.js" crossorigin="anonymous"></script>
</head>

<header>
  <div class="container-cover">
      <div class="container-info-cover">
          <h1>Haz un donativo en apoyo a Loto Tres</h1>
          <p>En fundación LotoTres contamos con distintas formas en las que puedes APORTAR,
            realiza tus donativos en especie, monetarios o siendo voluntario. Te mostramos las formas de DONAR.</p>
      </div>
  </div>

  <div class="container-content">
    
      <div class="marco">
          
          <div class="cuerpo">
              <div class="columna_derecha">
                  <h2>Donaciones en PayPal</h2>
                  
                  

              </div>
              <div class="columna_izquierda">
                  <h2>Banco Azteca</h2>
                  <p>Número de cuenta: 97090127383517
                    Clabe: 127180001273835176
                  </div>
              
          </div>
         
      </div>

      
      


  </div>


  
</header>

<app-footer></app-footer>