<html>
<head>
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
   </head>
<body>
    <h1>Apoyando en alguna de nuestras campañas</h1>
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="https://www.lototres.org/img/46408096_333035537287828_1355852163812687872_n.jpg" alt="las vegas">
            </div>
            <div class="details">
                <h3>¡Emilio contra la discapacidad visual!

                </h3>
                <p [align]="['justify']">Conoce el caso del Sr. Emilio , ayudanos a compartir su causa y así el pueda seguir solventando sus gastos con su trabajo, apoyalo a iniciar su microempresa.</p>
            </div>
        </div>
        <div class="card card2">
            <div class="container">
                <img src="https://www.lototres.org/img/46349058_286695288645678_4688150459364409344_n.jpg" alt="New York">
            </div>
            <div class="details">
                <h3>¡Pablo constructor de esperanzas!</h3>
                <p [align]="['justify']">Conoce al Sr. Pablo, que a pesar de su discapacidad visual no le impide elaborar excelentes marcos y trabajos con madera, apoyalo a iniciar su microempresa.</p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="https://www.lototres.org/img/IMG-20181109-WA0002.jpg" alt="Singapore">
            </div>
            <div class="details">
                <h3>¡Matias, la vista un regalo de vida!</h3>
                <p [align]="['justify']">Conoce al Sr. Matias, que realiza bolsas de regalo como sustento de su familia y brinda una fuente de ingresos a más personas, apoyalo a iniciar su microempresa.</p>
            </div>
        </div>
    </div>


</body>

<main>
    <footer>
        <div class="logo">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
        <ul>
            <li><a [routerLink]="['/home']">Inicio</a></li>
            <li><a [routerLink]="['/actividades']">Actividades</a></li>
            <li><a [routerLink]="['/donaciones']">Donativos</a></li>
            <li><a [routerLink]="['/contacto']">Contacto</a></li>
            <li><a [routerLink]="['/campaña']">Campaña</a></li>
        </ul>

        <div class="secondary-links">
			

			

            <a href="https://www.facebook.com/fundacionlototresac" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png" title="Sígueme en Facebook"/></a>
            
            <a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw" target="_blank"><img loading="lazy" alt="Sígueme en YouTube" height="35" width="35" src=" https://1.bp.blogspot.com/-0Ao8V_ZtT5Q/YPhkfO0JqkI/AAAAAAAAA1U/Sz5GlaSW78AsY3nZpcqeIoPA_HQUSCVLgCPcBGAYYCw/s0/Youtube-icono.png" title=" Sígueme en YouTube "/></a>
            
            <a href="https://www.instagram.com/fundacionlototresac/" target="_blank"><img loading="lazy" alt="Sígueme en Instagram" height="35" width="35" src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png" title="Sígueme en Instagram"/></a>

            <a href="https://twitter.com/LotoTres" target="_blank"><img loading="lazy" alt=" Sígueme en Twitter" height="35" width="35" src=" https://1.bp.blogspot.com/-2JwTJZxg1AU/YPhkfB0DdjI/AAAAAAAAA1c/tDKdU6tS0A0lt4YegGUVd7k-9hguYz82ACPcBGAYYCw/s0/Twitter-icono.png" title="Sígueme en Twitter"/></a>

        
    </div>
    </footer>
</main>
</html>